.outer {
    width:100%;
    height:50px;
    background:pink;
    text-align:center;
    vertical-align:middle;
}

.outer:before {
    content:'';
    width:0;
    visibility:none;
    height:100%;
    display: inline-block;
    vertical-align: middle;
}

.inner {
    display: inline-block;
    vertical-align:middle;
    width:100%;
}
