
<h1>Angular</h1>

<a href="https://angular.io/">Angular</a> est l'un des framework de développement web les plus à la mode en 2018.

<h2>Que faut-il savoir sur Angular quand on est maître d'oeuvre d'un projet informatique ?</h2>

<p>Tout d'abord, il faut savoir qu'Angular est le successeur d'<a href="https://angularjs.org/">AngularJS</a>.</p>

<p>La première version d'AngularJS a été mise à disposition en février 2010.</p>

<p>La première versoin d'Angular a été mise à disposition en septembre 2016.</p>

<p>Les deux versions sont très différentes l'une de l'autre. Bien qu'AngularJS soit toujours maintenue, il est fortement conseillé d'utiliser Angular dans de nouveaux projets.</p>

<p>Il est aussi intéressant de savoir qu'Angular et AngularJS ont été conçus par Google.</p>

<p>Le but d'Angular est de simplifier le développement de projets web.</p>