<p>Angular is as of 2018 one of the most popular JavaScript-based front-end web application framework.</p>

<p>Interestingly, it is also one of the JavaScript frameworks that depart the most from JavaScript and even ES6, because it uses TypeScript as the language of choice. Using TypeScript improves maintainability and efficiency by adding type checking, which allows compile-time error detection, and also possibly refactoring.</p>

<p>Because it is at the same time new, weird, and efficient, this makes Angular developers very demanded on the market.</p>

<p>The number of resources available on the web about Angular is tremendous, and so is the number of concepts that one has to master to be proficient at angular, so we will not even try to introduce or define any of those concepts here.</p>

<p>Instead, I will simply enumerate them a small quizz, that will allow fellow developers to assez how well they know the framework.</p>

