<h1>What is a software architect ?</h1>

A software architect, in general, is a software expert who has the ability to make decisions involving technical standards, tools and platforms.

<h1>What is a Java EE architect ?</h1>

A Java EE architect is specialized to the Java EE world, which is a small universe. He knows in details the Java EE specifications, the characteristics and abilities of different application servers, and how to use and integrate various Java libraries and tools to achieve some purpose.

<h1>Why is a Java EE architect needed ?</h1>

